# Web Framework
streamlit==1.44.1

# Image Processing
pillow==11.1.0

# AI Frameworks
agno==2.2.10
google-genai==1.50.1

# Search Tools
ddgs

# Configuration Management
python-decouple==3.8
PyYAML==6.0.2

# Analytics & Database
streamlit-analytics2==0.10.5
google-cloud-firestore==2.19.0
google-auth==2.29.0